:root {
    --primary-color: #a7efe9;
    --secondary-color: #7fdfd4;
    --accent-color-one: #f5ac43;
    --accent-color-two: #fbac91;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
